<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Success</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
  <a href="/" id="logo-container">
    <img src="/public/logo.png" alt="Logo" id="logo">
  </a>

  <h1>Login Successful!</h1>
  <p>Welcome back, <%= username %>! You have successfully logged in.</p>
  <ul>
    <li><a href="/">Go to Home (Index) Page</a></li>
  </ul>
</body>
</html>