<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Failed</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
  <a href="/" id="logo-container">
    <img src="/public/logo.png" alt="Logo" id="logo">
  </a>

  <h1>Registration Failed</h1>
  <p>Sorry, registration was unsuccessful. Please check your information and try again.</p>
  <p>Choose an option:</p>
  <ul>
    <li><a href="/users/register">Try Registering Again</a></li>
    <li><a href="/">Go to Home (Index) Page</a></li>
  </ul>
</body>
</html>