<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Comic Failed</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
  <a href="/" id="logo-container">
    <img src="/public/logo.png" alt="Logo" id="logo">
  </a>

  <header class="header-banner">
    <h1>Update Comic Failed</h1>
  </header>

  <section class="main-content">
    <p>Sorry, the update was unsuccessful. Please try again later.</p>
    <ul>
      <li><a href="/">Go to Home (Index) Page</a></li>
    </ul>
  </section>
</body>
</html>